body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e3f2fd; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 90%;
    max-width: 400px;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    background-color: #1e88e5; /* Darker blue */
    color: white;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
}

.messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    list-style-type: none;
    background: #f1f8e9;
}

.messages div {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    max-width: 80%;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.user-message {
    background-color: #bbdefb; 
    color: #000;
    margin-left: auto; 
    text-align: right;
    animation-name: slideInRight;
}

.bot-message {
    background-color: #e3f2fd; 
    color: #000; 
    margin-right: auto; 
    text-align: left; 
    animation-name: slideInLeft;
}


.input-box {
    display: flex;
    padding: 10px;
    border-top: 2px solid #dddddd;
    flex-direction: column;
}

.input-box input[type="text"], .input-box input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin: 5px 0;
    flex-grow: 1;
}

.input-box button {
    background-color: #1e88e5; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box button:hover {
    background-color: #1565c0;
}

/*nav buttons*/

.navigation {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 90%;
}

.navigation a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #1e88e5; 
    color: white;
    font-size: 14px;
    text-align: center;
}

.navigation a:hover {
    background-color: #1e88e5;
}


@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}